<!DOCTYPE html>
<html>
<head>
  <title>Wechat Handler</title>
  <%= stylesheet_link_tag    "handler/application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= javascript_include_tag "handler/application" %>

</body>
</html>
